<div class="col-xs-10 col-xs-offset-1 about">
  <h2>About Splurty</h2>

  <p>
    Splurty was built by <a target="_blank" href="https://www.facebook.com/ronny.almog.9">Ronny</a>, a web developer who loves writing code and writing for theatre - two areas that have a lot in common.
  </p>
  <p>
  	Splurty is built for theatre professionals and fans who  would like to share their love for writing. 
  	There are so many plays out there in the world, and we want to know all about them. 
  </p>
  <p>
    You are welcome to share quotes you like from any play you choose.
  </p>



  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'ronny.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ronny Almog</h2>
    <br />
    <p>
      Ronny Almog, a graduate of Tel Aviv University, is a playwright and experimental filmmaker from Israel. Ronny's work attempts to cross boundaries of content and form and deals with the "other" in different areas, such as gender, politics and religion. These days he expands his writing's passion to the coding realm. In his spare time, Ronny likes to ride camels.
    </p>
  </div>
  

</div>

<br class="clear" />
<br />
<br />
<br />